<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="stylesheet" href="../public/css/store.css">
    <link rel="stylesheet" href="../public/css/orders.css">
    <script src="index.js" defer></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./dynamicstore.html">STORE</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="#">ORDERS</a></li>
        </ul>
        <h1>The Generics</h1>
    </header>
    <section id="orders">
        <h2>ORDERS</h2>
        <div id="orders">
            <div id = "order1" class="orders">
                   <h3>orderno: 1</h3>
                   <button class="cancel-order-button" type='button'>Cancel order</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-title">
            The Generics
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://www.youtube.com">
                    <img src="../images/about/youtube.jpg" alt="">
                </a></li>
                <li><a href="https://spotify.com">
                    <img src="../images/about/Spotify Logo.png" alt="">
                </a></li>
                <li><a href="https://facebook.com">
                    <img src="../images/about/Facebook Logo.png" alt="">
                </a></li>
            </ul>
        </div>
    </footer>
</body>
</html>